<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Open Trivia
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Open Trivia</ion-title>
    </ion-toolbar>
  </ion-header>
 
  <app-pseudo (oPseudo)="setPseudo($event)"></app-pseudo>
  <app-game-component [pseudo]="pseudo" [question]="questionsGame" (nextQ)="newQuestion($event)"></app-game-component>

</ion-content>
